extends layout

block layout-content
  div.View
    h1.Banner Hash Generator
    div.mainWrapper
      div.inputsForm
        form(action="/generate",method="POST",id="mainForm",enctype="multipart/form-data")
          div.mainInputs
            div.textBoxes
              input.textInput(type="text", name="keys", placeholder="chave1,chave2...")
              input.textInput(type="text", name="values", placeholder="valor1,valor2...")
            div.submitButton
              a.NavButton.button(id="submit") GO
            div.hideDivButton
              a.NavButton.button(id="hideDiv") +            
          div.advancedOptions
            div.checkBoxes
              input.textInput(type="checkbox", name="quoteFirst")
              label.checkBoxLabel Aspas na chave
              input.textInput(type="checkbox", name="quoteSecond")
              label.checkBoxLabel Aspas no valor
            div.textBoxes
              input.textInput(type="text", name="before",placeholder="concatenar antes da chave")
              input.textInput(type="text", name="between",placeholder="concatenar no meio")
              input.textInput(type="text", name="after",placeholder="concatenar depois do valor")
            div.fileInput 
              input.fileInput(type="file", name="file")
        
  script(src="hideDiv.js")